
<h1>Random Numbers</h1>

<% lucky_number = rand(6) %>

The first number is: <%= lucky_number %>

<% lucky_number = rand(6) %>

The first image is: <img src="http://www.kiei925.com/images/dice/<%= lucky_number %>.png">



