<h1> Welcome to my Books database! </h1>

<body>

<h2> Check out our Editor's Pick! </h2>

<% editors_pick = Review.group("title").order("avg(rating) desc").first[:title] %>

<h3> <strong> Current Editor's Pick: <%= link_to editors_pick, "/books/#{Book.find_by("title" => editors_pick)[:id]}"  %> </strong> </h3>
<br>

<%= link_to "Click here to see all of our books", "/books" %>

</body>
<end>
